html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Biodivergent Sites and Sounds
        link(rel='stylesheet', href='style.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Nunito:wght@200&display=swap" rel="stylesheet")
        script(src="./main.js" defer)
        style.
            #main__title{
                //- width:100px;
            }

            .qr__container{
                width:100%; 
                margin:none; 
                //- background-color:#004080;
                background-color:rgba(0,64,128,0.8);
            }
    body
        main.splash.qr__container(style="min-height:300px; width:100%; margin:none;")
            //- h1 QR code tests
            .bar.qr__container                
                
        footer
            include footer  
        script.
            let baseURL = 'https://elinorrowlands.github.io/bss/'
            let elements = {
                'ripples': {
                    folder: 'elements/ripples',
                    qr:null
                    },
                'painting': {
                    folder: 'elements/painting',
                    qr:null
                },
                'mix': {
                    folder: 'elements/mix',
                    qr:null
                },
                'text': {
                    folder: 'elements/text',
                    qr:null
                }
            }

            window.addEventListener('load',()=>{
                Object.entries(elements).forEach(([key, value],i) => {
                    elements[key].url = baseURL + value.folder;
                    elements[key].qr = generateQR(elements[key].url, key);
                    elements[key].qr.classList.add('qr__svg');
                    elements[key].qr.classList.add(`elements__${key}`);
                    elements[key].qr.addEventListener('click', (e)=>{
                        window.location.href = elements[key].url;
                    })
                    elements[key].qr.querySelector('rect').remove();
                    document.querySelector('.qr__container').appendChild(elements[key].qr);
                })
               

                document.querySelectorAll('.qr__svg').forEach((qr, i)=>{
                    qr.querySelectorAll('rect:not(.anchor)').forEach((x,i)=>{
                        x.setAttribute('rx', `${Math.abs(Math.sin(i)*2)}px`);
                        x.setAttribute('rx', `${Math.abs(Math.cos(i)*30)}px`);
                        
                        let number = Math.sin(i)*255;

                        if (number < 0) {
                            number = 0;
                        }

                        if (number >200){
                            number = 200;
                        }

                        x.style.fill=`rgba(${number},255,255,1)`;
                        x.style.opacity = Math.abs(Math.cos(i))+0.5;
                        x.style.stroke = 'black';
                        //- x.style.strokeWidth = '2px';
                    })
                    qr.querySelectorAll('rect.anchor').forEach((x,i)=>{
                      
                        x.style.fill=`rgba(255,255,255,1)`;
                        x.style.strokeWidth = '3px';
                        x.style.stroke='white';
                    })
                })
                
                // 
                // Rectangles to keep
                // [[75, 75], [87, 75], [100, 75]]
                // [[75, 87], [87, 87], [100, 87]]
                // [[75, 100], [87, 100], [100, 100]]
            })
            